In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline

In [7]:
df=pd.read_csv('quikr_car.csv')
df.head(5)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [8]:
df.dtypes

name          object
company       object
year          object
Price         object
kms_driven    object
fuel_type     object
dtype: object

In [9]:
df.shape

(892, 6)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [11]:
df.describe()

              name company  year          Price  kms_driven fuel_type
count          892     892   892            892         840       837
unique         525      48    61            274         258         3
top     Honda City  Maruti  2015  Ask For Price  45,000 kms    Petrol
freq            13     235   117             35          30       440

In [12]:
df['year'].value_counts()

2015    117
2014     94
2013     94
2016     76
2012     75
       ...
ture      1
emi       1
able      1
no.       1
zest      1
Name: year, Length: 61, dtype: int64

In [13]:
df=df[df['year'].str.isnumeric()]
df['year'].value_counts()

2015    117
2014     94
2013     94
2016     76
2012     75
2011     60
2009     56
2017     56
2010     44
2018     34
2006     22
2019     22
2007     19
2008     16
2005     13
2003     13
2004     12
2000      7
2002      5
2001      5
1995      2
Name: year, dtype: int64

In [14]:
df['year']=df['year'].astype(int)

In [15]:
df['Price'].value_counts()

Ask For Price    23
2,50,000         16
3,50,000         12
4,00,000         11
1,80,000         11
                 ..
7,49,999          1
11,30,000         1
10,74,999         1
3,24,999          1
5,00,001          1
Name: Price, Length: 273, dtype: int64

In [16]:
df=df[df['Price']!='Ask For Price']

In [17]:
df['Price']=df['Price'].str.replace(',','').astype(int)

In [18]:
df=df[df['Price']<6000000]

In [19]:
df['kms_driven'].value_counts()

45,000 kms      29
35,000 kms      29
55,000 kms      25
50,000 kms      23
20,000 kms      21
                ..
1,00,200 kms     1
65 kms           1
30,874 kms       1
1,03,553 kms     1
72,160 kms       1
Name: kms_driven, Length: 250, dtype: int64

In [20]:
df['kms_driven']=df['kms_driven'].str.split().str.get(0).str.replace(',','')

In [21]:
df['kms_driven'].isnull().sum()

0

In [22]:
df.tail(5)

                          name    company  year   Price kms_driven fuel_type
886       Toyota Corolla Altis     Toyota  2009  300000     132000    Petrol
888        Tata Zest XM Diesel       Tata  2018  260000      27000    Diesel
889         Mahindra Quanto C8   Mahindra  2013  390000      40000    Diesel
890   Honda Amaze 1.2 E i VTEC      Honda  2014  180000     Petrol       NaN
891  Chevrolet Sail 1.2 LT ABS  Chevrolet  2014  160000     Petrol       NaN

In [23]:
df=df[df['kms_driven'].str.isnumeric()]

In [24]:
df['kms_driven']=df['kms_driven'].astype(int)

In [25]:
df['fuel_type'].isnull().sum()

1

In [26]:
df=df[~df['fuel_type'].isna()]

In [27]:
df.isnull().sum()

name          0
company       0
year          0
Price         0
kms_driven    0
fuel_type     0
dtype: int64

In [28]:
df.shape

(815, 6)

In [29]:
df['company'].value_counts()

Maruti        221
Hyundai       139
Mahindra       97
Tata           65
Honda          60
Toyota         36
Chevrolet      34
Renault        33
Ford           30
Volkswagen     19
Skoda          13
Audi           11
Mini            8
BMW             8
Datsun          7
Mitsubishi      6
Nissan          6
Mercedes        6
Fiat            4
Force           4
Hindustan       3
Jaguar          2
Land            1
Jeep            1
Volvo           1
Name: company, dtype: int64

In [30]:
df['name'].value_counts()

Honda City                     13
Honda Amaze                    11
Maruti Suzuki Dzire            10
Mahindra Scorpio S10            9
Maruti Suzuki Alto 800 Lxi      7
                               ..
BMW 5 Series 520d Sedan         1
Hyundai Verna 1.6 EX VTVT       1
Honda Amaze 1.5 E i DTEC        1
Mahindra XUV500 W8 AWD 2013     1
Tata Zest XM Diesel             1
Name: name, Length: 463, dtype: int64

In [31]:
df['name']=df['name'].str.split().str.slice(start=0,stop=3).str.join(' ')

In [32]:
df['name'].value_counts()

Maruti Suzuki Swift            51
Maruti Suzuki Alto             42
Maruti Suzuki Wagon            28
Maruti Suzuki Ertiga           16
Hyundai Santro Xing            15
                               ..
Mercedes Benz A                 1
Tata Manza ELAN                 1
Volkswagen Polo Comfortline     1
Nissan Sunny                    1
Tata Zest XM                    1
Name: name, Length: 254, dtype: int64

In [33]:
df

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [34]:
X=df[['name','company','year','kms_driven','fuel_type']]
y=df['Price']

In [35]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [36]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [37]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [38]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

In [49]:
column_trans

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder',
                                 OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
       'Chevrolet Beat LS', 'Chevrolet B...
       'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
                                                           array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                           array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                 ['name', 'company', 'fuel_type'])])

In [53]:
column_trans.fit(df)
transformed_data = column_trans.transform(df)

# Get the feature names
feature_names = column_trans.get_feature_names_out()
print("Transformed feature names:")
print(feature_names)

Transformed feature names:
['onehotencoder__name_Audi A3 Cabriolet' 'onehotencoder__name_Audi A4 1.8'
 'onehotencoder__name_Audi A4 2.0' 'onehotencoder__name_Audi A6 2.0'
 'onehotencoder__name_Audi A8' 'onehotencoder__name_Audi Q3 2.0'
 'onehotencoder__name_Audi Q5 2.0' 'onehotencoder__name_Audi Q7'
 'onehotencoder__name_BMW 3 Series' 'onehotencoder__name_BMW 5 Series'
 'onehotencoder__name_BMW 7 Series' 'onehotencoder__name_BMW X1'
 'onehotencoder__name_BMW X1 sDrive20d'
 'onehotencoder__name_BMW X1 xDrive20d'
 'onehotencoder__name_Chevrolet Beat'
 'onehotencoder__name_Chevrolet Beat Diesel'
 'onehotencoder__name_Chevrolet Beat LS'
 'onehotencoder__name_Chevrolet Beat LT'
 'onehotencoder__name_Chevrolet Beat PS'
 'onehotencoder__name_Chevrolet Cruze LTZ'
 'onehotencoder__name_Chevrolet Enjoy'
 'onehotencoder__name_Chevrolet Enjoy 1.4'
 'onehotencoder__name_Chevrolet Sail 1.2'
 'onehotencoder__name_Chevrolet Sail UVA'
 'onehotencoder__name_Chevrolet Spark'
 'onehotencoder__name_Chevrolet Spark 1.0'
 'onehotencoder__name_Chevrolet Spark LS'
 'onehotencoder__name_Chevrolet Spark LT'
 'onehotencoder__name_Chevrolet Tavera LS'
 'onehotencoder__name_Chevrolet Tavera Neo'
 'onehotencoder__name_Datsun GO T' 'onehotencoder__name_Datsun Go Plus'
 'onehotencoder__name_Datsun Redi GO'
 'onehotencoder__name_Fiat Linea Emotion'
 'onehotencoder__name_Fiat Petra ELX'
 'onehotencoder__name_Fiat Punto Emotion'
 'onehotencoder__name_Force Motors Force'
 'onehotencoder__name_Force Motors One'
 'onehotencoder__name_Ford EcoSport'
 'onehotencoder__name_Ford EcoSport Ambiente'
 'onehotencoder__name_Ford EcoSport Titanium'
 'onehotencoder__name_Ford EcoSport Trend'
 'onehotencoder__name_Ford Endeavor 4x4' 'onehotencoder__name_Ford Fiesta'
 'onehotencoder__name_Ford Fiesta SXi' 'onehotencoder__name_Ford Figo'
 'onehotencoder__name_Ford Figo Diesel'
 'onehotencoder__name_Ford Figo Duratorq'
 'onehotencoder__name_Ford Figo Petrol'
 'onehotencoder__name_Ford Fusion 1.4' 'onehotencoder__name_Ford Ikon 1.3'
 'onehotencoder__name_Ford Ikon 1.6'
 'onehotencoder__name_Hindustan Motors Ambassador'
 'onehotencoder__name_Honda Accord' 'onehotencoder__name_Honda Amaze'
 'onehotencoder__name_Honda Amaze 1.2'
 'onehotencoder__name_Honda Amaze 1.5' 'onehotencoder__name_Honda Brio'
 'onehotencoder__name_Honda Brio V' 'onehotencoder__name_Honda Brio VX'
 'onehotencoder__name_Honda City' 'onehotencoder__name_Honda City 1.5'
 'onehotencoder__name_Honda City SV' 'onehotencoder__name_Honda City VX'
 'onehotencoder__name_Honda City ZX' 'onehotencoder__name_Honda Jazz S'
 'onehotencoder__name_Honda Jazz VX' 'onehotencoder__name_Honda Mobilio'
 'onehotencoder__name_Honda Mobilio S' 'onehotencoder__name_Honda WR V'
 'onehotencoder__name_Hyundai Accent'
 'onehotencoder__name_Hyundai Accent Executive'
 'onehotencoder__name_Hyundai Accent GLE'
 'onehotencoder__name_Hyundai Accent GLX'
 'onehotencoder__name_Hyundai Creta'
 'onehotencoder__name_Hyundai Creta 1.6'
 'onehotencoder__name_Hyundai Elantra 1.8'
 'onehotencoder__name_Hyundai Elantra SX'
 'onehotencoder__name_Hyundai Elite i20' 'onehotencoder__name_Hyundai Eon'
 'onehotencoder__name_Hyundai Eon D' 'onehotencoder__name_Hyundai Eon Era'
 'onehotencoder__name_Hyundai Eon Magna'
 'onehotencoder__name_Hyundai Eon Sportz'
 'onehotencoder__name_Hyundai Fluidic Verna'
 'onehotencoder__name_Hyundai Getz' 'onehotencoder__name_Hyundai Getz GLE'
 'onehotencoder__name_Hyundai Getz Prime'
 'onehotencoder__name_Hyundai Grand i10'
 'onehotencoder__name_Hyundai Santro'
 'onehotencoder__name_Hyundai Santro AE'
 'onehotencoder__name_Hyundai Santro Xing'
 'onehotencoder__name_Hyundai Sonata Transform'
 'onehotencoder__name_Hyundai Verna'
 'onehotencoder__name_Hyundai Verna 1.4'
 'onehotencoder__name_Hyundai Verna 1.6'
 'onehotencoder__name_Hyundai Verna Fluidic'
 'onehotencoder__name_Hyundai Verna Transform'
 'onehotencoder__name_Hyundai Verna VGT'
 'onehotencoder__name_Hyundai Xcent Base'
 'onehotencoder__name_Hyundai Xcent SX' 'onehotencoder__name_Hyundai i10'
 'onehotencoder__name_Hyundai i10 Era'
 'onehotencoder__name_Hyundai i10 Magna'
 'onehotencoder__name_Hyundai i10 Sportz'
 'onehotencoder__name_Hyundai i20'
 'onehotencoder__name_Hyundai i20 Active'
 'onehotencoder__name_Hyundai i20 Asta'
 'onehotencoder__name_Hyundai i20 Magna'
 'onehotencoder__name_Hyundai i20 Select'
 'onehotencoder__name_Hyundai i20 Sportz'
 'onehotencoder__name_Jaguar XE XE' 'onehotencoder__name_Jaguar XF 2.2'
 'onehotencoder__name_Jeep Wrangler Unlimited'
 'onehotencoder__name_Land Rover Freelander'
 'onehotencoder__name_Mahindra Bolero DI'
 'onehotencoder__name_Mahindra Bolero Power'
 'onehotencoder__name_Mahindra Bolero SLE'
 'onehotencoder__name_Mahindra Jeep CL550'
 'onehotencoder__name_Mahindra Jeep MM'
 'onehotencoder__name_Mahindra KUV100'
 'onehotencoder__name_Mahindra KUV100 K8'
 'onehotencoder__name_Mahindra Logan'
 'onehotencoder__name_Mahindra Logan Diesel'
 'onehotencoder__name_Mahindra Quanto C4'
 'onehotencoder__name_Mahindra Quanto C8'
 'onehotencoder__name_Mahindra Scorpio'
 'onehotencoder__name_Mahindra Scorpio 2.6'
 'onehotencoder__name_Mahindra Scorpio LX'
 'onehotencoder__name_Mahindra Scorpio S10'
 'onehotencoder__name_Mahindra Scorpio S4'
 'onehotencoder__name_Mahindra Scorpio SLE'
 'onehotencoder__name_Mahindra Scorpio SLX'
 'onehotencoder__name_Mahindra Scorpio VLX'
 'onehotencoder__name_Mahindra Scorpio Vlx'
 'onehotencoder__name_Mahindra Scorpio W'
 'onehotencoder__name_Mahindra TUV300 T4'
 'onehotencoder__name_Mahindra TUV300 T8'
 'onehotencoder__name_Mahindra Thar CRDe'
 'onehotencoder__name_Mahindra XUV500'
 'onehotencoder__name_Mahindra XUV500 W10'
 'onehotencoder__name_Mahindra XUV500 W6'
 'onehotencoder__name_Mahindra XUV500 W8'
 'onehotencoder__name_Mahindra Xylo D2'
 'onehotencoder__name_Mahindra Xylo E4'
 'onehotencoder__name_Mahindra Xylo E8'
 'onehotencoder__name_Maruti Suzuki 800'
 'onehotencoder__name_Maruti Suzuki A'
 'onehotencoder__name_Maruti Suzuki Alto'
 'onehotencoder__name_Maruti Suzuki Baleno'
 'onehotencoder__name_Maruti Suzuki Celerio'
 'onehotencoder__name_Maruti Suzuki Ciaz'
 'onehotencoder__name_Maruti Suzuki Dzire'
 'onehotencoder__name_Maruti Suzuki Eeco'
 'onehotencoder__name_Maruti Suzuki Ertiga'
 'onehotencoder__name_Maruti Suzuki Esteem'
 'onehotencoder__name_Maruti Suzuki Estilo'
 'onehotencoder__name_Maruti Suzuki Maruti'
 'onehotencoder__name_Maruti Suzuki Omni'
 'onehotencoder__name_Maruti Suzuki Ritz'
 'onehotencoder__name_Maruti Suzuki S'
 'onehotencoder__name_Maruti Suzuki SX4'
 'onehotencoder__name_Maruti Suzuki Stingray'
 'onehotencoder__name_Maruti Suzuki Swift'
 'onehotencoder__name_Maruti Suzuki Versa'
 'onehotencoder__name_Maruti Suzuki Vitara'
 'onehotencoder__name_Maruti Suzuki Wagon'
 'onehotencoder__name_Maruti Suzuki Zen'
 'onehotencoder__name_Mercedes Benz A'
 'onehotencoder__name_Mercedes Benz B'
 'onehotencoder__name_Mercedes Benz C'
 'onehotencoder__name_Mercedes Benz GLA'
 'onehotencoder__name_Mini Cooper S'
 'onehotencoder__name_Mitsubishi Lancer 1.8'
 'onehotencoder__name_Mitsubishi Pajero Sport'
 'onehotencoder__name_Nissan Micra XL'
 'onehotencoder__name_Nissan Micra XV' 'onehotencoder__name_Nissan Sunny'
 'onehotencoder__name_Nissan Sunny XL'
 'onehotencoder__name_Nissan Terrano XL'
 'onehotencoder__name_Nissan X Trail' 'onehotencoder__name_Renault Duster'
 'onehotencoder__name_Renault Duster 110'
 'onehotencoder__name_Renault Duster 110PS'
 'onehotencoder__name_Renault Duster 85'
 'onehotencoder__name_Renault Duster 85PS'
 'onehotencoder__name_Renault Duster RxL'
 'onehotencoder__name_Renault Kwid' 'onehotencoder__name_Renault Kwid 1.0'
 'onehotencoder__name_Renault Kwid RXT'
 'onehotencoder__name_Renault Lodgy 85'
 'onehotencoder__name_Renault Scala RxL' 'onehotencoder__name_Skoda Fabia'
 'onehotencoder__name_Skoda Fabia 1.2L'
 'onehotencoder__name_Skoda Fabia Classic'
 'onehotencoder__name_Skoda Laura'
 'onehotencoder__name_Skoda Octavia Classic'
 'onehotencoder__name_Skoda Rapid Elegance'
 'onehotencoder__name_Skoda Superb 1.8'
 'onehotencoder__name_Skoda Yeti Ambition'
 'onehotencoder__name_Tata Aria Pleasure'
 'onehotencoder__name_Tata Bolt XM' 'onehotencoder__name_Tata Indica'
 'onehotencoder__name_Tata Indica V2'
 'onehotencoder__name_Tata Indica eV2'
 'onehotencoder__name_Tata Indigo CS' 'onehotencoder__name_Tata Indigo LS'
 'onehotencoder__name_Tata Indigo LX'
 'onehotencoder__name_Tata Indigo Marina'
 'onehotencoder__name_Tata Indigo eCS' 'onehotencoder__name_Tata Manza'
 'onehotencoder__name_Tata Manza Aqua'
 'onehotencoder__name_Tata Manza Aura'
 'onehotencoder__name_Tata Manza ELAN' 'onehotencoder__name_Tata Nano'
 'onehotencoder__name_Tata Nano Cx' 'onehotencoder__name_Tata Nano GenX'
 'onehotencoder__name_Tata Nano LX' 'onehotencoder__name_Tata Nano Lx'
 'onehotencoder__name_Tata Sumo Gold'
 'onehotencoder__name_Tata Sumo Grande'
 'onehotencoder__name_Tata Sumo Victa'
 'onehotencoder__name_Tata Tiago Revotorq'
 'onehotencoder__name_Tata Tiago Revotron'
 'onehotencoder__name_Tata Tigor Revotron'
 'onehotencoder__name_Tata Venture EX'
 'onehotencoder__name_Tata Vista Quadrajet'
 'onehotencoder__name_Tata Zest Quadrajet'
 'onehotencoder__name_Tata Zest XE' 'onehotencoder__name_Tata Zest XM'
 'onehotencoder__name_Toyota Corolla'
 'onehotencoder__name_Toyota Corolla Altis'
 'onehotencoder__name_Toyota Corolla H2'
 'onehotencoder__name_Toyota Etios' 'onehotencoder__name_Toyota Etios G'
 'onehotencoder__name_Toyota Etios GD'
 'onehotencoder__name_Toyota Etios Liva'
 'onehotencoder__name_Toyota Fortuner'
 'onehotencoder__name_Toyota Fortuner 3.0'
 'onehotencoder__name_Toyota Innova 2.0'
 'onehotencoder__name_Toyota Innova 2.5'
 'onehotencoder__name_Toyota Qualis'
 'onehotencoder__name_Volkswagen Jetta Comfortline'
 'onehotencoder__name_Volkswagen Jetta Highline'
 'onehotencoder__name_Volkswagen Passat Diesel'
 'onehotencoder__name_Volkswagen Polo'
 'onehotencoder__name_Volkswagen Polo Comfortline'
 'onehotencoder__name_Volkswagen Polo Highline'
 'onehotencoder__name_Volkswagen Polo Highline1.2L'
 'onehotencoder__name_Volkswagen Polo Trendline'
 'onehotencoder__name_Volkswagen Vento Comfortline'
 'onehotencoder__name_Volkswagen Vento Highline'
 'onehotencoder__name_Volkswagen Vento Konekt'
 'onehotencoder__name_Volvo S80 Summum' 'onehotencoder__company_Audi'
 'onehotencoder__company_BMW' 'onehotencoder__company_Chevrolet'
 'onehotencoder__company_Datsun' 'onehotencoder__company_Fiat'
 'onehotencoder__company_Force' 'onehotencoder__company_Ford'
 'onehotencoder__company_Hindustan' 'onehotencoder__company_Honda'
 'onehotencoder__company_Hyundai' 'onehotencoder__company_Jaguar'
 'onehotencoder__company_Jeep' 'onehotencoder__company_Land'
 'onehotencoder__company_Mahindra' 'onehotencoder__company_Maruti'
 'onehotencoder__company_Mercedes' 'onehotencoder__company_Mini'
 'onehotencoder__company_Mitsubishi' 'onehotencoder__company_Nissan'
 'onehotencoder__company_Renault' 'onehotencoder__company_Skoda'
 'onehotencoder__company_Tata' 'onehotencoder__company_Toyota'
 'onehotencoder__company_Volkswagen' 'onehotencoder__company_Volvo'
 'onehotencoder__fuel_type_Diesel' 'onehotencoder__fuel_type_LPG'
 'onehotencoder__fuel_type_Petrol' 'remainder__year' 'remainder__Price'
 'remainder__kms_driven']

In [39]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [40]:
X_train

                    name   company  year  kms_driven fuel_type
149         Nissan Sunny    Nissan  2012       45000    Petrol
323      Mahindra XUV500  Mahindra  2014       47000    Diesel
346     Mahindra Xylo E4  Mahindra  2012       35000    Diesel
250   Maruti Suzuki Ciaz    Maruti  2017       14000    Petrol
544    Hyundai Verna 1.6   Hyundai  2019        2000    Petrol
..                   ...       ...   ...         ...       ...
98   Maruti Suzuki Swift    Maruti  2014       35000    Petrol
367      Tata Indigo eCS      Tata  2014       40000    Diesel
607    Hyundai i10 Magna   Hyundai  2009       75000    Petrol
516    Hyundai Grand i10   Hyundai  2017       20000    Petrol
596    Renault Duster 85   Renault  2015       51000    Diesel

[652 rows x 5 columns]

In [41]:
pipe=make_pipeline(column_trans,lr)

In [42]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [43]:
y_pred=pipe.predict(X_test)

In [44]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.6512675626137864

In [45]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [46]:
np.argmax(scores)

302

In [47]:
scores[np.argmax(scores)]

0.8991190946804755

In [48]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8991190946804755